<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci de votre fidélité <%= @client.first_name %></h1>
    <p>
      Nous sommes très heureux de vous compter parmis nos clients.
    </p>
    <p>
      Si vous êtes également satisfait de nos services, faites le nous savoir en nous laissant un commentaire sur le lien : <%= @url %>.
    </p>
    <p>Merci beaucoup à vous et bonne journée!</p>
  </body>
</html>
