<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Bonjour <%= @client.first_name %>,</h2>

    <p>Nous espérons que vous appréciez votre location avec notre agence. Nous sommes heureux de vous compter parmi nos locataires.</p>

    <p>Nous avons une excellente nouvelle à partager avec vous ! Chez l'Immobilière Franco-Suisse, nous croyons au pouvoir du bouche-à-oreille, c'est pourquoi nous vous faisons bénéficier de notre programme de parrainage.</p>

    <p>Si vous connaissez quelqu'un ayant un projet de vente ou de mise en gestion de son bien, nous vous offrons l'opportunité de bénéficier d'une remise exceptionnelle de 250 euros sur votre prochain loyer en nous référant ce client.</p>

    <p>Il vous suffit de nous recommander à vos amis, votre famille, vos collègues ou toute personne que vous connaissez et qui pourrait avoir besoin de nos services. Lorsqu'ils signent un contrat de vente ou de gestion locative avec nous, vous recevrez une remise de 250 euros en remerciement de votre confiance et de votre recommandation.</p>

    <p>Si vous connaissez quelqu'un susceptible d'être intéressé ou si vous avez des questions sur notre programme de parrainage, n'hésitez pas à nous contacter. Nous sommes là pour vous aider.</p>

    <p>Nous vous remercions d'avance et vous souhaitons une excellente journée !</p>

    <p>Cordialement,</p>
    <p><strong>Le service location</strong><br>L'Immobilière Franco-Suisse</p>
  </body>
</html>
