<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body class="bg-orange-300">
    <h1 class="text-amber-400">Bienvenu chez l'Immobilière Franco-Suisse <%= @client.first_name %></h1>
    <p>
      Je suis le format html.
      Nous sommes très heureux de vous compter parmis nos locataires.
      Votre colocataire est <%= @client.roomate %>
    </p>
    <p>
      Pour vous connecter, cliquez sur : <%= @url %>.
    </p>
    <p>Merci beaucoup à vous et bonne journée!</p>
  </body>
</html>
